<%- partial("partial/header.ejs") %>

	<div class="bd idx">
		<div id='j_idx_banner' class="idx_banner">
			<h1>HaloJS<br>一个敏捷易用的移动端组件库</h1>
			<p class="idx_banner_input">
				<span class="idx_banner_input_prompt">$</span>
				<span class="idx_banner_input_txt">cd GettingStarted! </span>
				<a class="idx_banner_input_enter" href='<%- config.root + "api/"%>'>
					<img src='img/idx_banner_input_enter.png'>
				</a>
			</p>
		</div>
		<div class="idx_intro">
			<h2 class="idx_intro_hd">核心组件</h2>
			<ul class="idx_intro_list">
				<li>
					<div class="idx_intro_licon">
						<img src='img/idx_intro_licon_base.png'>
					</div>
					<h3>基础模块</h3>
					<p>
						为移动端的量身定制的<br />基础操作模块
					</p>
				</li>
				<li>
					<div class="idx_intro_licon">
						<img src='img/idx_intro_licon_pager.png'>
					</div>
					<h3>翻页模块</h3>
					<p>
						极致的用户体验，<br />
						轻APP的最佳选择
					</p>
				</li>
				<li>
					<div class="idx_intro_licon">
						<img src='img/idx_intro_licon_ui.png'>
					</div>
					<h3>UI模块</h3>
					<p>
						弹窗、横屏警示、分享蒙层...<br />
						都在这里
					</p>
				</li>
			</ul>
		</div>
		<div class="idx_info">
			<h2 class="idx_info_hd">
				关注我们
			</h2>
			<p class="idx_info_qrcode">
				<img src="http://aotu.io/assets/img/qrcode.png" alt="关注我们">
			</p>
			<p class="idx_info_desc">无折腾不为乐 - 我们爱生活，爱设计，爱技术，爱创作，喜欢闹腾。</p>
			<p class="idx_info_wechat">
				<img src="http://aotu.io/assets/img/logo-circle-120.png" alt="AOTULabs"> 微信号：AOTULabs
			</p>
		</div>
	</div>
	<%- page.content %>

<%- partial("partial/footer.ejs") %>
