<%- partial("partial/header.ejs") %>
<!--S 文章-->
<main class="bd doc">
	<%- partial("partial/api_category.ejs", {
		post: page
	}) %>

	<%- partial("partial/article.ejs", {
		post: page
	}) %>
</main>
<%- partial("partial/footer.ejs") %>
<script id='j_template' type="text/template">
	<li class='api_list_item'>
		<a href='{{ href }}'>
			{{ title }}
			{{ #parent }}
				<span> - {{ title }}</span>
			{{ /parent }}
		</a>
	</li>
</script>
<!--E 文章-->
