
* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	vertical-align: baseline;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

img {
	border: none;
	vertical-align: top;
}

html,
body {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
}

body {
	font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica, Arial', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	word-break: break-all;
	text-align: justify;
	color: #666;
	background: #eee;
	-webkit-text-size-adjust: 100% !important;
	text-size-adjust: 100% !important;
}

a {
	text-decoration: none;
	color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

section,
nav,
header,
footer,
aside,
main {
	display: block;
}

input[type="text"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
}

ul{
	list-style: none;
}

.fix {
	zoom: 1;
}

.fix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


body {
	padding-top: 20px;
}
.bd {
	max-width: 640px;
	width: 100%;
	margin: 20px auto;
	background: #fff;
	padding: 30px;
	box-shadow: 0 0 10px 1px #ddd;
}

.bd img {
	max-width: 100%;
}

.bd a {
	color: #4078c0;
	margin: 0 4px;
	line-height: 1.5;
	/*-webkit-transition: color linear .1s;
	transition: color linear .1s;*/
}

.bd a:hover {
	text-decoration: underline;
	/*color: #c7254e;*/
}

.bd p {
	margin: 20px 0 10px;
}

.bd h1,
.bd h2,
.bd h3,
.bd h4,
.bd h5,
.bd h6 {
	position: relative;
	color: #555;
	margin: 1.5em 0 .67em;
}

.bd h1 a,
.bd h2 a,
.bd h3 a,
.bd h4 a,
.bd h5 a,
.bd h6 a {
	margin: 0;
}

.bd ul {
	padding-left: 40px;
}

.bd blockquote {
	margin: 25px 0;
	padding: 0 1.75em;
	border-left: solid .4em #ddd;
	color: #999;
}

.bd pre {
	margin: 25px 0;
	overflow: auto;
}

.bd pre ol {
	padding-left: 40px;
}

.bd code {
	padding: 1px 5px;
	border-radius: 3px;
	color: #666;
	font-size: 95%;
	line-height: 1.7;
	vertical-align: 1px;
	background: #f6f6f6;
	margin: 0 3px;
}

.bd table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
	/*	width: 100%;*/
	border: 1px solid #ddd;
}

.bd table th,
.bd table td {
	text-align: left;
	padding: 8px;
	vertical-align: top;
	border: 1px solid #ddd;
}

.bd .prettyprint code {
	color: inherit;
	font-size: 12px;
	margin: 0;
	background: inherit;
}
