<!--S api目录-->

<aside id="j_api" class="api">

	<div class="api_search">
		<input id="j_api_search_input" type='text' placeholder="搜索(支持正则表达式)">
	</div>
	<div id="j_api_list" class="api_list">
		<ul id='j_api_list_normal' class="api_list_normal">
			<%- sidebar('api') %>
		</ul>
		<ul id='j_api_list_search' class="api_list_search"></ul>
	</div>
</aside>

<!--E api目录-->
